absl-py==2.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
async-timeout==5.0.1
attrs==25.1.0
babel==2.17.0
beautifulsoup4==4.13.3
bleach==6.2.0
blosc2==3.5.0
cachetools==4.2.1
causalnex==0.12.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cmake==3.31.6
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
dataclasses-json==0.6.7
datasets==4.0.0
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
drain3==0.9.11
exceptiongroup==1.2.2
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.17.0
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
griffe==1.7.3
grpcio==1.71.0
h11==0.14.0
hf-xet==1.1.5
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.33.1
idna==3.10
igraph==0.11.9
intel-cmplr-lib-ur==2025.0.5
intel-openmp==2025.0.5
ipykernel==6.29.5
ipython==8.34.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
joblib==1.4.2
json5==0.10.0
jsonpickle==1.5.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
lightgbm==4.6.0
lit==18.1.8
littleutils==0.2.4
llama-index==0.10.45
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.44
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.1.26
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
llamaindex-py-client==0.1.19
llvmlite==0.44.0
Markdown==3.7
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mcp==1.9.4
miceforest==6.0.3
mistune==3.1.2
mkl==2025.0.1
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.10.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
numba==0.61.2
numexpr==2.11.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
ogb==1.3.6
ollama==0.5.1
openai==1.91.0
openai-agents==0.0.19
opt_einsum==3.4.0
outdated==0.2.2
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandas_flavor==0.7.0
pandocfilters==1.5.1
parso==0.8.4
pathos==0.3.4
patsy==1.0.1
pexpect==4.9.0
pgmpy==0.1.19
pillow==11.2.1
pingouin==0.5.5
platformdirs==4.3.6
pox==0.3.6
ppft==1.7.7
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==6.30.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.10.1
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.2.1
pypdf==4.3.1
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2022.7
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==26.2.1
rdkit==2025.3.3
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.23.1
ruptures==1.1.10
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.30.0
setproctitle==1.3.6
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.38
sse-starlette==2.3.6
stack-data==0.6.3
starlette==0.47.1
statsmodels==0.14.4
StringDist==1.0.9
striprtf==0.0.26
sympy==1.14.0
tables==3.10.1
tabulate==0.9.0
tbb==2022.0.0
tcmlib==1.2.0
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.2
tomli==2.2.1
torch==2.0.1
torch-scatter @ file:///root/shared-nvme/work/code/RCA/torch_scatter-2.1.2%2Bpt20cu117-cp310-cp310-linux_x86_64.whl#sha256=4d23dd448461e404a8d2edecaaff399c0113e4027ceac91e617c2b9affaf7d13
torch-sparse @ file:///root/shared-nvme/work/code/RCA/torch_sparse-0.6.17%2Bpt20cu117-cp310-cp310-linux_x86_64.whl#sha256=64aa5e4daf9a648f0440366cc03f4facdcead572d97098fe5c504ab3599d6819
torch_geometric==2.3.1
torchaudio==2.0.2
torchinfo==1.8.0
torchvision==0.15.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.53.0
triton==2.0.0
tsaug==0.2.1
types-python-dateutil==2.9.0.20241206
types-requests==2.32.4.20250611
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
umf==0.9.1
UpSetPlot==0.9.0
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.34.3
wandb==0.20.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
xarray==2025.4.0
xxhash==3.5.0
yarl==1.18.3
